/*
    Document   : override
    Created on : 8th December 2019
    Author     : Karan Agrawal <karan.csn@gmail.com>
    Description:
        Application specific styles
*/

.sendOffScreen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.cart-data-subtext {
    font-variant-caps: small-caps;
}

.cart-table-header-row {
    font-weight: 600;
    font-variant-caps: small-caps;
}

.valign-top {
    vertical-align: top !important;
}

.hide {
    display: none;
}

.prod-input-number {
    max-width: 135px;
}